<div class="search-form">
  <form action="{{ site.url }}" method="get">
    <input type="text" name="s" placeholder="Search&hellip;" value="{{ fn('get_search_query') }}">

    <div class="magnify">
      <div class="handle"></div>
      <div class="glass"></div>
    </div>
  </form>
</div>
