.search-form {
  $border: 10px;
  $button: (
    'background': black,
    'height': 150px,
    'width': 200px,
  );
  $color: white;
  $dimension: 80px;
  $handle-width: 50px;

  &--toggle {
    background: map-get($button, 'background');
    height: map-get($button, 'height');
    padding-top: (map-get($button, 'height') - $dimension) / 2;
    width: map-get($button, 'width');
  }

  .magnify {
    $sine45: 0.70710678;
    $handle-offset: ($sine45 * ($border / 2));
    $middle: ($dimension / 2);
    $middle-to-border: ($sine45 * (($dimension - $border) / 2));
    $border-bottom-right-center: $middle + $middle-to-border;
    $transition: 0.2s ease-out;

    display: block;
    height: $dimension;
    margin: 0 auto;
    position: relative;
    width: $dimension;

    .glass {
      border: $border solid $color;
      border-radius: 100%;
      height: $dimension;
      left: 0;
      position: absolute;
      top: 0;
      transform-origin: 50%;
      transition: border-radius $transition, transform $transition, width $transition;
      width: $dimension;
    }

    .handle {
      background: $color;
      height: $border;
      left: $border-bottom-right-center + $handle-offset;
      position: absolute;
      top: $border-bottom-right-center - $handle-offset;
      transform: rotate(45deg);
      transform-origin: 0;
      transition: transform $transition, width $transition;
      width: $handle-width;
    }
  }

  &.active .magnify {
    .glass {
      background: $color;
      border: 0;
      border-radius: 0;
      transform: rotate(45deg) translate(28px, -28px);
      width: $border;
    }

    .handle {
      transform: rotate(45deg) translateX(-($dimension));
      width: $dimension;
    }
  }
}
